
.center {
    justify-content: center;
}
.section {
    width: 100%;
    position: relative;
    height: 100vh; 
    background-size: cover;
}
.nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    height: 65px; 
}
.nav-logo {
    width: 150px;
}
.container {
    width: 96%;
    height: 100%; 
    margin: 0 auto;
    position: relative;
}
.list {
    list-style: none;
    margin-right: 50px; 
}

.list-item {
    margin: 0 5px;
    padding: 0 16px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px; 
}
.nav-link {
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.form-control::placeholder {
  font-style: italic;
  font-size: 15px;
}
.checkbox {
    position: absolute;
    z-index: 1;
    right: 0;
    opacity: 0;
    width: 70px;
    height: 100%;
} 
.ham {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 0;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:6;
    stroke-linecap:round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
.animated { 
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(20px, 0, 0);
      transform: translate3d(20px, 0, 0);
    }
     
  
    to {
        opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
  }

  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }


@-webkit-keyframes bounceOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }
  }
  
  @keyframes bounceOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  .bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
  }

  .nav-mobile {
    width: 100%; 
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(22, 22, 22, 0.8);
    justify-content: center; 
    align-items: center;
  }
  .animated-nav {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .list-item-mob {
    height: 50px;
    justify-content: center;
  }
  .nav-link-mob {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: white;
    font-size: 17px;
  }

  @media only screen and (max-width: 900px) {
    .list-item {
      font-size: 12px;
      padding: 0 10px;
      margin: 0 5px;
    }
  }

  @media only screen and (max-width: 800px) {
    .list-item {
      font-size: 12px;
      padding: 0 5px;
      margin: 0 5px;
    }
    .container {
      width: 98%;
    }
  }
  @media only screen and (max-width: 700px) {
    .list-item {
      font-size: 12px;
      padding: 0px;
      margin: 0 5px;
    }
    .container {
      width: 100%;
    }
    .nav-logo {
      width: 120px;
    }
  }
  @media only screen and (max-width: 600px) {
    .container {
      width: 100%;
    }
    .nav-logo {
      width: 150px;
    }
  }
